:root {
  --background: #2f3236;
  --fontcolor: #dbdbdb;
  --accent1: #2aefcb;
  --accent2: #e866ec;

}
*{
  font-family: 'Orbitron', sans-serif;
}

header {
  background-color: transparent;
  color: var(--fontcolor);
  padding: 2rem 0;
  margin: 0 1.5rem;
}

header h1 {
  display: inline;
  font-size: 48px;
  color: var(--fontcolor);
  font-weight: bold;

}

header nav ul {
  align-items: center;
}

header nav {
  float: right;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  align-items: center;

}

header nav a {
  color: var(--fontcolor);
  text-decoration: none;
}

header nav ul li {
  display: inline;
  flex-wrap: wrap;
  margin: 1rem;
}

nav ul li :hover {
  color: var(--accent2);
  text-decoration: underline;
  border: none;
  transition: all 0.5s ease-in-out;
}

section {
  height: 600px;
  width: 100%;
  padding-bottom: 2rem;
  border: #2f3236 10px;
  background-image: url(./Heroshot1.jpg);
  background-size: cover;
  background-position: center;
}

body {
  background-color: var(--background);
  color: var(--fontcolor);
}

/* #about_me h2 {
  float: inline-start;
  padding-right: 3rem;
  border-right: var(--accent1) solid 2px;
}

#about_me {
justify-content: space-around;
display: flex;

} */

.something{
  /* justify-content: space-evenly; */
  display: flex;
  flex-wrap: wrap;
  display: inline;
  flex-basis: 75%;
}

.something h2{
  float: inline-start;
  padding: 0 3rem;
  border-right: var(--accent1) solid 2px;
  /* text-align: start; */
  flex-basis: 34%;

}

main{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* margin-left: -1.5rem; */
  /* margin-right: -1.5rem; */
  justify-content: space-evenly;
}
footer h2{
  display: inline;
}

footer ul{
  display: inline;
}